.about-section {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.about-me h1{
    font-size: 30px;
    font-weight: bold;
    color: #070707;
    text-transform: uppercase;
    margin-bottom: 10px;
    align-items: top; 
}   
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}
.about:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);}
.about-image{
    width: 300px;
    height: 300px;
    margin-right: 40px;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.1);
}
.about-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about h2{
  font-size: 22px;
  font-weight: bold;
  color: #060606;
  text-transform: uppercase;
}
.about p{
    font-size: 18px;
    color: #100f0f;
    line-height: 1.6;
    text-align: justify;
}   
.about button{
    padding: 10px 20px;
    background-color: #babdc2;
    color: #0c0c0c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 6px 20px rgba(40, 131, 228, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.about button:hover{
    background-color: #94979a;
    transform: translateY(-2px);
}   
.about button:active{
    background-color: #a8b5c4;
    transform: translateY(0);
}