.certifications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.certifications h2 {
  font-size: 30px;
  font-weight: bold;
  color: #080808;
  text-transform: uppercase;
  margin-bottom: 30px;
  align-items: top; 
  letter-spacing: 1px;
}


.slider-container {
  width: 500px;
  margin: 15px auto;
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.slide img {
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
  transition: 0.3s ease;
}

.slide img:hover {
  transform: scale(1.03);
}

.dots {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.dots span {
  height: 10px;
  width: 10px;
  background: #ccc;
  margin: 0 6px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.active-dot {
  background: #180ee7;
  
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

.modal img {
  max-width: 90%;
  max-height: 85%;
  border-radius: 10px;
}

.back-btn {
  position: absolute;
  top: 30px;
  left: 40px;
  padding: 8px 16px;
  border: none;
  background: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.back-btn:hover {
  background: #6c63ff;
  color: rgb(8, 8, 8);
}
