.contact-section {
  padding: 80px 10%;
  text-align: center;
  height: 40vh;
}

.contact-title {
    font-size: 30px;
    font-weight: bold;
    color: #030303;
    text-transform: uppercase;
    margin-bottom: 40px;
    align-items: top; 
}

.contact-subtitle {
  font-size: 17px;
  color: #020202;
  margin: 0 auto 40px;
  text-align: center;
  max-width: 650px;
  line-height: 1.7;
}


.contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.contact-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  text-decoration: none;
  color: #090909;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.contact-icon {
  font-size: 22px;
  color: #6c63ff;
}
