.project-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
    margin-top: 0;
}
.project-container h1{
    font-size: 30px;
    font-weight: bold;
    color: #040404;
    text-transform: uppercase;
    margin-bottom: 40px;
    padding-top: 20px;
    align-items: top; 
    letter-spacing: 1px;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
   
}
.project-1, .project-2{
    display: flex;
    align-items: center;
    height: 160px;
    gap: 20px;
    border: 1px solid #d6d1d1;
    padding: 20px;
    text-align: justify;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.project-1:hover, .project-2:hover{
    transform: translateY(-5px);
    box-shadow: 0 9px 8px rgba(0, 0, 0, 0.2);
}
.image-container-project{
    width: 120px;
    height: 120px;
  
    border-radius: 50%;
}
.image-container-project img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 50%;
}

.projects h2{
    font-size: 20px;
    font-weight: bold;
    color: #0b0b0b;
    text-transform: uppercase;
}