.project-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

  margin-top: 0;
}
.project-container h1 {
  font-size: 30px;
  font-weight: bold;
  color: #040404;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding-top: 20px;
  align-items: top;
  letter-spacing: 1px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.project-1,
.project-2 {
  display: flex;
  align-items: center;
  height: 160px;
  gap: 20px;
  border: 1px solid #d6d1d1;
  padding: 20px;
  text-align: justify;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.project-1:hover,
.project-2:hover {
  transform: translateY(-5px);
  box-shadow: 0 9px 8px rgba(0, 0, 0, 0.2);
}
.image-container-project {
  width: 120px;
  height: 120px;

  border-radius: 50%;
}
.image-container-project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.projects h2 {
  font-size: 20px;
  font-weight: bold;
  color: #0b0b0b;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .project-container {
    padding: 20px;
  }

  .project-1,
  .project-2 {
    flex-direction: column;
    height: auto;
    text-align: center;
    padding: 20px;
  }

  .image-container-project {
    margin-bottom: 15px;
  }

  .project-1:hover,
  .project-2:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }

  .project-1:hover img,
  .project-2:hover img {
    transform: scale(1.08);
  }
}

@media (max-width: 768px) {
  .project-container {
    margin-top: 100px;
    padding: 10px;
  }

  .project-container h1 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .project-1,
  .project-2 {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 15px;
    gap: 10px;
    cursor: pointer;
  }

  .image-container-project {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }

  .image-container-project img {
    transition: transform 0.3s ease;
  }

  .projects h2 {
    font-size: 16px;
    text-align: center;
    transition: color 0.3s ease;
  }

  .project-1 p,
  .project-2 p {
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
  }

  /* hover effects */

  .project-1:hover,
  .project-2:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
  }

  .project-1:hover img,
  .project-2:hover img {
    transform: scale(1.1);
  }

  .project-1:hover h2,
  .project-2:hover h2 {
    color: #8c6f54;
  }
}
