.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f5f5;
}
.section-title {
    font-size: 36px;
    color: #333;
    margin-bottom: 40px;
    font-weight: 900; 
}
.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    width: 100%;
}
.service-card{
    background-color: #e6e7b5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.service-card h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}   
.icon{
        font-size: 40px;
        color: #4a90e2;
        margin-bottom: 15px;
 }