.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135deg, #f5f6f7 0%, #e0e3e6 40%, #d2bfae 100%);
  color: #3e3a36;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 6px 12px rgba(140, 111, 84, 0.25);
  z-index: 1500;
}

.right-section {
  display: flex;
  align-items: center;
  z-index: 2001;
}

.header-heading {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 48px;
}

.header-btn1 {
  padding: 10px 20px;
  margin-left: 30px;
  margin-right: 20px;
  background-color: #e6ded5;
  color: #5c5044;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 6px 20px rgba(140, 111, 84, 0.25);
  transition: all 0.3s ease;
}

.header-btn1:hover {
  background-color: #bfa58a;
  color: #ffffff;
  transform: translateY(-2px);
}

.header-btn1:active {
  background-color: #8c6f54;
  color: #ffffff;
  transform: translateY(0);
}

.left-section {
  display: flex;
  align-items: center;
  z-index: 2000;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  z-index: 3000;
}

@media (max-width: 480px) {
  .hamburger {
    display: block;
  }
  .header {
    height: 50px;        
    padding: 10px 15px; 
  }

  .header-heading {
    font-size: 28px;   
  }

  .hamburger {
    display: block;
  }


  .left-section {
    display: none;
    position: fixed;
    top: 55px; 
    right: 10px;
    flex-direction: column;
    background: linear-gradient(135deg, #f5f6f7 0%, #e0e3e6 40%, #d2bfae 100%);
    width: 200px;
    padding: 15px;
    border-radius: 8px;
    z-index: 2500;
  }

  .left-section.show-menu {
    display: flex;
  }

  .header-btn1 {
    margin: 10px 0;
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {

  .hamburger {
    display: none;
  }
  .header {
    height: 60px;
    padding: 10px 20px;
  }
  .header-heading {
    font-size: 34px;
  }
  .left-section {
    display: flex;
    gap: 12px;   
  }
  .header-btn1 {
    margin: 0;    
    padding: 8px 14px;
    font-size: 14px;

  }

}

