
.name-place{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 1000;
}

.header-section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    height: 90px;
    background: linear-gradient(
        135deg,
        #f5f6f7 0%,
        #e0e3e6 40%,
        #d2bfae 100%
    );
    box-shadow: 0 10px 12px rgba(0,0,0,0.4);

}


.header-image{
    width:120px;
    height:120px;
    border-radius:50%;
    border:5px solid #444;
    box-shadow:0 0 12px rgba(0,0,0,0.6);
    overflow:hidden;
    position:absolute;
    top:15px;
    left:40px;
    z-index:2;
}
.header-image img{
    width:100%;
    height:100%;
    object-fit:cover;

}

.header-section::after{
    content:"";
    position:absolute;
    left:40px;
    bottom:-1px;
    width:150px;
    height:75px;
    background:bisque;
    border-bottom-left-radius:75px;
    border-bottom-right-radius:75px;
     display: none;

}

.name{
    position:absolute;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    top:35px;
    left:220px;
    font-weight:bold;
    font-size:20px;

}
.header-btn{
    padding: 10px 20px;
    margin-left: 30px;
    background-color: #e6ded5;
    color: #5c5044;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 6px 20px rgba(140, 111, 84, 0.25);
    transition: background-color 0.5s ease, color 0.3s ease, transform 0.3s ease;
}

.header-btn:hover{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #bfa58a;
    color: #ffffff;
    transform: translateY(-2px);
}

.header-btn:active{
    background-color: #8c6f54;
    color: #ffffff;
    transform: translateY(0);   
}
.button-section{

    position: absolute;
    right: 40px;  
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 20px;

}

